.similar-job-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #202020;
  border: none;
  width: 356px;
  height: 456px;
  border-radius: 20px;
  margin: 10px 5px 10px 5px;
}
.similar-job-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.similar-job-header-title {
  margin-left: 8px;
}
.similar-job-logo {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}
.similar-job-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.similar-job-star {
  color: #fbbf24;
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.similar-job-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.similar-job-details-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 28%;
}
.similar-job-icon {
  width: 25px;
  height: 25px;
  margin: 0px 4px 0px 4px;
  color: #ffffff;
}
.similar-job-line {
  width: 100%;
  color: #2c364c;
}
.similar-job-title {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 800;
}
.similar-job-descp {
  color: #f8fafc;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}
